body {
    background-color:#b967e5;
    font-family:arial;
 }
 
 hr{
   border: none;
   height: 10 px;
   background-color: #f17b7b29;
 }
 
 hr:hover{
   background-color:#f3ff6d29;
   }
 
   h1{
     color:#4edce3;
     font-size:50px;
     font-weight:bold;
   }
   h2{
     color:#FFF8E7;
     font-size:30px;
     font-weight:bold;
     text-align:center;
     padding: 10 0px;
     border:#FFF8E750 1 px solid;
   }
 
 
   h2:hover{
     box-shadow: 10px 10px 20 px #FFF8E7;
   }
 
   .selected{
     color:#fe925c;
   }
 
   .image-container {
     text-align: center;
   }
 
    .image-container{
     text-align:center;
   }
 
   .about{
     background-color:#37b933;
     color:#FFF8E7;
     font-size:28px;
     text-align:center;
   }
 
 
 
 
   blockquote{
     background-color: aliceblue;
     border-left: 5 px solid #1cca1f;
     padding: 10px;
   }
 
   